@import 'src/Theme/variables.module';

.books-table {
  background: $background-light;

  th {
    background-color: rgba(white, 0.6);
    font-weight: 600;
  }

  tbody {
    background: $background-light;

    tr {
      background-color: rgba(white, 0.5);

      &:hover {
        background-color: rgba(white, 0.6);
      }
    }
  }


}