@import 'variables.module';

.App {
  text-align: center;
  background-color: $background-dark;
  height: 100vh;

  .page-container {
    margin: 4em 8em 4em 8em;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: $background-light;

    @media screen and (max-width: 700px) {
      margin: 1em;
    }
  }

  .warning-text {
    font-weight: bold;
    color: red;
  }
}

@media screen and (min-width: 700px) {
  .MuiDialog-paper {
    width: 650px;
  }
}

.MuiDialog-paperFullScreen {
  padding: 2em;
}

a{
  color: $primary;
}